:root {
  --white-text: #e6eaf2;
  --dark-background: #282c34;
  --lighter-dark: #82868e;
  --darker-background: #21252b;
}

* {
  font-family: monospace;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  padding: 4px;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-background);
  color: var(--white-text);
}

input {
  border: none;
  outline: none;
  color: var(--white-text);
  background: transparent;
  border-bottom: 1px solid var(--lighter-dark);
  transition: all 0.5s;
  padding: 0px 4px;
  box-sizing: border-box;
  margin: 2px;
}

input:focus {
  border-bottom: 1px solid var(--white-text);
}

button,
select {
  color: var(--white-text);
  background-color: var(--darker-background);
  outline: var(--lighter-dark);
  padding: 2px 8px;
  box-sizing: border-box;
  transition: all 0.3s;
  border: none;
  border-radius: 4px;
  margin: 2px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
}

button:hover,
select:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}

button:active,
select:active {
  background-color: var(--dark-background);
}

button:disabled {
  background-color: var(--lighter-dark);
}

select {
  appearance: none;
}
